.center {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 20px;
}

.text {
  font-size: 24px;
  line-height: 30px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.author {
  font-size: 18px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}